#nav-bar {
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 20px;
    max-width: 1440px;
    width: 100%;
}
.nav-item {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #111111;
    font-family: Inter,sans-serif;
    padding:0.5rem 1rem;
}

.nav-item:hover {
    text-decoration:underline;
    cursor: pointer;
}

.nav-item:first-child{
    font-size: 1.3rem;
    font-weight: 500;
}
.navbar-brand {
    font-size: 1.3rem;
    font-weight: 500;
}

@media only screen and (max-width: 600px){

}